<!-- <h1>מומלצון</h1> -->
<nav>
  <a [routerLink]="['']">דף הבית</a>
  <a [routerLink]="['Login']">כניסה</a>
  <a [routerLink]="['register']">הרשמה</a>
  <a [routerLink]="['search']">חיפוש </a>
  <a [routerLink]="['addProfession']">הוסף מקצוע</a>
  <!-- <a [routerLink]="['addProfessional']">רישום בעל מקצוע</a>  -->
  <a (click)="navigate()" [routerLink]>ערוך בעל מקצוע</a> 
  
  {{getuserName()}}
<button *ngIf="getcurrentUser()" type="button" mat-raised-button (click)='logOut()'>יציאה</button>

</nav>