<!-- <h1>מומלצון</h1> -->
<nav>
  <a mat-button [routerLink]="['']">דף הבית</a>
  <a  mat-button [routerLink]="['Login']">כניסה</a>
  <a mat-button [routerLink]="['register']">הרשמה</a>
  <a  mat-button [routerLink]="['search']">חיפוש </a>
  <a mat-button [routerLink]="['addProfession']">הוסף מקצוע</a>
  <!-- <a [routerLink]="['addProfessional']">רישום בעל מקצוע</a>  -->
  <a  mat-button (click)="navigate()" [routerLink]>ערוך בעל מקצוע</a> 
  
  {{getuserName()}}
<button  *ngIf="getcurrentUser()" type="button" mat-raised-button (click)='logOut()'>יציאה</button>

</nav>