.example-card {
    max-width: 400px;
    right: 40%;
    margin-top: 6%;
  }
.example-full-width {
  width: 90%;
}
.slider{
    min-width: 220px;
    position: relative;
    right: 25%;
}
h2{
    text-align: center;
}